<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootstrap css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- google font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/adminHome.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <title>Admin panel</title>
  </head>
  <body>
    <section id="menu">
      <div class="logo">
        <h2>FootDotCom</h2>
      </div>
      <div class="items">
        <li>
          <i class="material-symbols-outlined"> home </i><a href="">Home</a>
        </li>
        <li>
          <i class="material-symbols-outlined"> inventory_2 </i
          ><a href="/admin/home/products">Products</a>
        </li>
        <li>
          <i class="material-symbols-outlined"> category </i
          ><a href="/admin/home/Category">Category</a>
        </li>
        <li>
          <i class="material-symbols-outlined"> group </i
          ><a href="/admin/home/users">Users</a>
        </li>
        <li>
          <i class="material-symbols-outlined"> list_alt </i
          ><a href="/admin/home/orders">Order</a>
        </li>
        <li>
          <i class="material-symbols-outlined"> summarize </i
          ><a href="/admin/home/salesreport">Sales Report</a>
        </li>
        <li>
          <i class="material-symbols-outlined"> logout </i
          ><a href="/login/logout">Logout</a>
        </li>
      </div>
    </section>
    <section id="interface">
      <div class="navigation">
        <div>
          <i id="menu-btn" class="material-symbols-outlined"> menu </i>
        </div>
        <div class="profile">
          <div class="dropdown">
            <button
              class="btn"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="material-symbols-outlined"> account_circle </i>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item disabled" href="">admin</a></li>
              <li><a class="dropdown-item" href="/login/logout">logout</a></li>
            </ul>
          </div>
        </div>
      </div>
      <h3 class="i-name">Dashboard</h3>
      <div class="values row gap-2 justify-content-evenly">
        <div class="val-box col-md-3">
          <i class="material-symbols-outlined"> group </i>
          <div>
            <h3><%= usercount %></h3>
            <span>Total Users</span>
          </div>
        </div>
        <div class="val-box col-md-3">
          <i class="material-symbols-outlined"> inventory_2 </i>
          <div>
            <h3><%= productcount %></h3>
            <span>Total Products</span>
          </div>
        </div>
        <div class="val-box col-md-3">
          <i class="material-symbols-outlined"> list_alt </i>
          <div>
            <h3><%= ordercount %></h3>
            <span>Total Orders</span>
          </div>
        </div>
        <div class="val-box col-md-3">
          <i class="material-symbols-outlined"> attach_money </i>
          <div>
            <h3><%= totalamount %></h3>
            <span>Total Income</span>
          </div>
        </div>
        <div class="row gap-2 justify-content-center p-2">
          <div class="col-md-7 mt-5 gbg" style="border-radius: 5px">
            <canvas id="ordersStatusChart" class="h-100"> </canvas>
          </div>
          <div class="col-md-4 mt-5 gbg" style="border-radius: 5px">
            <canvas id="Paystatus" class=""> </canvas>
          </div>
        </div>
      </div>
      <input type="hidden" id="pending" value="<%= pending %>" />
      <input type="hidden" id="completed" value="<%= completed %>" />
      <input type="hidden" id="delivered" value="<%= delivered %>" />
      <input type="hidden" id="cancelled" value="<%= cancelled %>" />
      <input type="hidden" id="cod" value="<%= cod %>" />
      <input type="hidden" id="online" value="<%= online %>" />
    </section>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const ctx = document.getElementById("ordersStatusChart");
      const ctx1 = document.getElementById("Paystatus");
      const pending = Number(document.getElementById("pending").value);
      const completed = Number(document.getElementById("completed").value);
      const delivered = Number(document.getElementById("delivered").value);
      const cancelled = Number(document.getElementById("cancelled").value);
      const cod = Number(document.getElementById("cod").value);
      const online = Number(document.getElementById("online").value);

      new Chart(ctx, {
        type: "bar",
        data: {
          labels: ["Pending", "Delivered", "Cancelled", "Completed"],
          datasets: [
            {
              label: "No .of Orders",
              data: [pending, delivered, cancelled, completed],
              borderWidth: 2,
              backgroundColor: ["#003049", "#003049", "#003049", "#003049"],
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });

      new Chart(ctx1, {
        type: "pie",
        data: {
          labels: ["COD", "Online"],
          datasets: [
            {
              label: "No .of Orders",
              data: [cod, online],
              borderWidth: 2,
              backgroundColor: ["#003049", "#003000"],
            },
          ],
        },
        options: {},
      });
    </script>
    <script>
      $("#menu-btn").click(function () {
        $("#menu").toggleClass("active");
      });
    </script>
    <style>
      #menu .items li:nth-child(1) {
        border-left: 4px solid #fff;
      }
    </style>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
