<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/cart.css" type="text/css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Check  Out</title>
  </head>
  <body class="blue">
    <section class="mt-5">
      <div class="container">
          <form id="checkout">
            <div class="row">
              <div class="order col-md-6 mt-3">
                <h5 class="white">Order Details:</h5>
                <div
                  style="border: 1px solid; width: 100%;"
                  class="p-4 d9"
                >
                <div class="d-flex w-50 align-items-center d-none">
                  <lable for="">Coupon:</lable>
                  <div class="d-flex align-items-center ms-2" style="background-color: #fff;border-radius: 10px;">
                    <input type="text" id="coupon" name="coupon" class="form-control he" placeholder="Coupon Code" style="outline: none; border: none;border-radius: 5px;">
                    <button class="btn btn-sm white blue he" type="button" onclick="cou('<%= sum %>')">Apply</button>
                  </div>
                </div>
                <div class="d-flex w-100 align-items-center">
                  <lable for="">Coupon:</lable>
                  <div class="d-flex flex-column align-items-start p-2 ms-2" style="border: 1px solid;">
                    <h6>NOW20</h6>
                    <div> discount of &nbsp;<label for="" id="per"> 20% &nbsp;</label> upto &nbsp;<label for="" id="amount">200</label>&nbsp;applied</div>
                  </div>
                </div>
                <h6>Products: </h6>
                <table class="w-100">
                  <% allData.forEach(element => { %>
                    <tr class="text-center">
                      <td><%= element.productDetail.product_name %></td>
                      <td><%= element.productQuantity %></td>
                      <td>x Rs.<%= element.productDetail.price %></td>
                    </tr>
                    <% }) %>
                </table>                  
                  <hr>
                  <table class="w-100">
                    <tr class="text-center">
                      <th>Product total:</th>
                      <th>Rs.<%= sum %></th>
                    </tr>
                    <tr class="text-center">
                      <th>Discount:</th>
                      <th>Rs.<label for="" id="discount">0</label></th>
                    </tr>
                    <tr class="text-center">
                      <th>Total:</th>
                      <th>Rs.<label for="" id="total"><%= sum %></label></th>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="shipadrss col-md-6 mt-3">
                <h5 class="white">Shipping Address:</h5>
                <% for( let i = 0; i < address.length; i++ ) { %>
                  <div
                  style="border: 1px solid"
                  class="p-4 d-flex align-content-center align-items-center d9"
                >
                  <input
                  type="radio" 
                  value="<%= address[i]._id %>"
                  <% if (i == 0) { %>
                   checked
                  <% } %>
                  name="address"
                  />
                  <p class="ms-3">
                    <b><%= name %> </b><br />
                    <%= address[i].address %> <br>
                    <%= address[i].state %>,
                    <%= address[i].city %> <br>
                    <%= address[i].pincode %> 
                  </p>
                </div>
                <% } %>
                <% if (address.length == 1) { %>
                  <div
                  style="border: 1px solid"
                  class="p-4 d-flex align-items-center d9"
                >
                  <a href="/user/add-address/checkout" class="btn btn-light">+ Add Address</a>
                </div>
                <% } %>
              </div>
              <div class="payment col-md-6 mt-3">
                <h5 class="white">Payment:</h5>
                <div
                  style="border: 1px solid"
                  class="p-4 d-flex align-content-center align-items-center d9"
                >
                  <input type="radio" name="pay" value="cod" class="me-1" required checked/>
                    Cash On Delivery (COD)
                </div>
                <div
                  style="border: 1px solid"
                  class="p-4 d-flex align-content-center align-items-center d9"
                >
                <input type="radio" name="pay" value="online" class="me-1" required/>
                  Pay Online
                </div>
              </div>

              <div class="payment col-md-6 mt-3 p-5" >
                <button type="submit" class="btn con btn-lg w-100 mt-4">
                  Confirm Order
                </button>
                  <a
                    href="/user/cart"
                    class="btn con btn-lg w-100 mt-2"
                  >
                    Go Back
                  </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <div class="white">
      <!-- <%= allData %> -->
    </div>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/javascript/cart.js"></script>
    <style>
      .blue{
        background-color: #003049;
      }
      .d9{
        background-color: #d9d9d9;
      }
      .white{
        color: white;
      }
      .white:hover{
        color: white;
      }
      .con{
        background-color: #fcbf49;
        color: #003049;
      }
      .con:hover{
        color: #000;
      }
      .he{
        height: 33px !important;
      }
    </style>
    <script>
      $("#checkout").submit((e) => {
        // alert('hemmo')
          $.ajax({
          url: "/order-confirmed",
          method: "post",
          data: $("#checkout").serialize(),
          success: (response) => {
                if (response[0].success) {
                  location.href = `/order-success/${response[0].oid}`;
                } else {
                  razorPay(response[0].orders);
                }
            },
          });
      });

      function cou(amount) {
        const code = document.getElementById('coupon').value;
        $.ajax({
          url: "/coupon-check",
          method: "post",
          data: {
            code,
            amount,
          },
          success: (response) => {
                if (response.success) {
                  alert(response.check)
                } else {
                  alert(response);
                }
            },
          });
      }
      function razorPay(order) {
        var options = {
          key: "rzp_test_mqyD5x6VcWLJVE", // Enter the Key ID generated from the Dashboard
          amount: order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
          currency: "INR",
          name: "FootDotCom",
          description: "Test Transaction",
          order_id: order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
          handler: function (response) {
            verifyPayment(response, order);
          },
          prefill: {
            name: "Nihal",
            email: "nihal@gmail.com",
            contact: "9879999999",
          },
          notes: {
            address: "Razorpay Corporate Office",
          },
          theme: {
            color: "#3399cc",
          },
        };
        var rzp1 = new Razorpay(options);
        rzp1.on("payment.failed", function (response) {
        });
        rzp1.open();
      }
      function verifyPayment(payment, order) {
      $.ajax({
      url: "/verifyPayment",
      data: {
        payment,
        order,
      },
      method: "post",
      success: (response) => {
        if (response.success) {
          location.href = `/order-success/${response.oid}`;
        } else {
          location.href = "/paymentFail";
        }
      },
    });
  }
    </script>
  </body>
</html>
